*{
    margin: 0;

}

.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared  */
.button{
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    height: 35px;
    width: 100px;
}



/* hero section */
.hero{
    max-width: 1440px;
    height: 700px;
    /* border: 2px solid tomato; */
    background-image: url('../Assets/Hero-bg.png');
    margin: 0 auto;
    margin-bottom: 100px;
}

.hero-nav{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    align-items: center;
}
.hero-nav h3{
    color: #4E47FF;
    font-size: 30px;
    font-weight: 800;
}
.hero-description{
    max-width: 100%;
    height: 300px;
    /* border: 2px solid tomato; */
    text-align: center;
    margin-top: 100px;
}
.hero-description h1{
    font-size: 60px;
    font-weight: bold;
    color: #252432;
    text-align: center;
}


/* banner section */
.banner-container{
    max-width: 1150px;
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 100px;
    /* border: 2px solid tomato; */
}
.banner-description h2{
    font-size: 40px;
    font-weight: bold;
    color: #252432;
}
.banner-img{
    border-radius: 30px;
}

/* joined users section */
.joined-section{
    max-width: 1140px;
    height: 280px;
    background-color: #c0bffd;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 100px;
}
.joined-section h3{
    font-size: 35px;
    font-weight: bold;
    color: #252432;
}

.joined-section-description{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.joined-section-description h1{
    font-size: 60px;
    color: #4E47FF;
    margin-top: 60px;
}

/* users say */
.users-say{
    max-width: 1140px;
    height: 335px;
    /* border: 2px solid tomato; */
    margin: 0 auto;
    margin-bottom: 100px;
}
.users-say h1{
    font-size: 40px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 40px;
    text-align: center;
}
.users-say-rating{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.avatar{
    padding-top: 50px;
    display: flex;
    gap: 20px;
}

/* banner2 container */
.banner2-container{
    max-width: 1140px;
    height: 695px;
    /* border: 2px solid tomato; */
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}
.banner2-description h1{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}
.banner2-description button{
    margin-top: 50px;
    margin-bottom: 50px;
}
.banner2-img{
    border-radius: 40px;
}

/* form section */